{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> {% block title_head %} {% endblock title_head %} {% block css_link %}{% endblock %}
    <!-- <title> Home page</title> -->
    {% include 'base/css.htm' %}
</head>

<body>
    {% include 'base/navbar.htm' with brand_name='eCommerce Web' %} {% block content %}{% endblock %} {% include 'base/js.htm' %}

</body>

</html>