{% extends 'base.htm' %} {% block content %} {% block title_head %}
<title> Cart page</title>
{% endblock title_head %}
<div class="container">
    <h1>CARTS</h1>
    {% if cart.products.exists %}
    <table class="table cart-table">
        <thead>
            <tr>
                <th>#</th>
                <th>Product Name</th>
                <th>Action</th>
                <th>Product Price</th>
            </tr>
        </thead>
        <tbody class='cart-body'>
            {% for product in cart.products.all %}
            <tr class='cart-product'>
                <th scope="row">{{ forloop.counter }}</th>
                <td><a href='{{ product.get_absolute_url }}'>{{ product.title }}</a></td>
                <td> {% include 'carts/snippets/remove_product.htm' with product_id=product.id %} </td>
                <td>{{ product.price }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="3"></td>
                <td><b>Subtotal</b> $<span class='cart-subtotal'>{{ cart.subtotal }}</span></td>
            </tr>
            <tr>
                <td colspan="3"></td>
                <td><b>Total</b> $<span class='cart-total'>{{ cart.total }}</span></td>
            </tr>
            <tr>
                <td colspan="3"></td>
                <td><a class='btn btn-lg btn-success' href='{% url "cart:checkout" %}'>Checkout</a></td>
            </tr>
        </tbody>
    </table>

    <div class='cart-item-remove-form' style='display:none'>
        {% include 'carts/snippets/remove_product.htm' %}
    </div>

    {% else %} {% if request.user.is_authenticated %}
    <p class='lead'>Cart is empty</p>
    {% else %}
    <p class='lead'>Login To see your cart</p>
    {% endif %} {% endif %}
</div>
{% endblock %}