{% extends "base.htm" %} {% block content %} {% block title_head %}
<title> Products page</title>
{% endblock title_head %}
<div class='container'>
    <div class='row'>
        {% if object_list %} {% for obj in object_list %}
        <div class='col'>
            {{ forloop.counter }} {% include 'products/snippets/card.htm' with instance=obj %} {% if forloop.counter|divisibleby:3 %}
        </div>
    </div>
    <div class='row'>
        <div class='col-12'>
            <hr/>
        </div>

        {% else %}
    </div>
    {% endif %} {% endfor %} {% else %}
    <h2>No items found</h2>
    {% endif %}

</div>
</div>
{% endblock %}